{% extends "base.html" %}

{% block content %}

<div >
  <div class="row mb-3"><h4>
    <span class="col-3"><a href="{% url 'index' %}" style="color: #000080; text-decoration: none">New Questions</a></span>
    <span class="col-3"><a href="{% url 'hot' %}" style="color: #0000CD; font-size: 0.6em; text-decoration: none">Hot Questions</a></span>
  </h4>
  </div>

  {% for question in questions_list.object_list %}
  {% include "que/question.html" %}
  {% endfor %}

</div>

{% include "paginator.html" %}

{% endblock %}
