  <div class="container px-lg-0">
    <div class="container">
      <div class="row-lg-4 mx-lg-n5">
         <div>
           <nav aria-label="...">
             <ul class="pagination">
               {% if questions_list.has_previous %}
                {% ifnotequal questions_list.number 2 %}
                  <li class="page-item">
                     <a class="page-link" href="?page={{ questions_list.previous_page_number }}">Previous</a>
                   </li>
                {% endifnotequal %}
                   <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                {% ifnotequal questions_list.number 2 %}
                   <li class="page-item"><a class="page-link" href="#"> ... </a></li>
                {% endifnotequal %}
               {% endif %}

                   <li class="page-item active" aria-current="page">
                     <span class="page-link"> {{ questions_list.number }} <span class="sr-only">(current)</span></span>
                   </li>

               {% if questions_list.has_next %}
               {% ifnotequal questions_list.next_page_number  questions_list.paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="#"> ... </a></li>
              {% endifnotequal %}

              <li class="page-item"><a class="page-link" href="?page={{ questions_list.paginator.num_pages}}">{{ questions_list.paginator.num_pages }}</a></li>
              {% ifnotequal questions_list.next_page_number  questions_list.paginator.num_pages %}
                <li class="page-item">
                 <a class="page-link" href="?page={{ questions_list.next_page_number }}">Next</a>
               </li>
              {% endifnotequal %}
              {% endif %}

            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
