.link_members{
  font-size: 1.1em;
  color: #4169E1;
  list-style-type: none;
}

.form_field{
  color: 184096;
  font-weight: bold;
}


.like, .dislike {
    font-size: 11px;
}
.qty1, .qty2 {
    border: none;
    width:20px;
    background: transparent;
}
hr {
    border: none;
    background-color: #D0C3DE;
    color: #D0C3DE;
    height: 2px;
   }
